.updates {
    background-color: #394053;
    padding: 20px;
    margin: 20px;
    min-height: 200px; 
}
    .updates ul {
        list-style-type: none;
    }

    .updates ul > * {
        height: 150px;
        width: 100%;
        text-decoration: none;
        display: inline-block;
        background-color: #4e4a59;
        color: #f8f7e6;
        margin-bottom: 20px;
    }

        .updates ul > * div {
            display: grid;
            grid-template-columns: 20% auto;
            grid-column-gap: 20px;
        }

        .updates ul > * img {
            object-fit: cover;
            height: 150px;
            width: 100%;
        }

        .updates ul > *:last-child {
            margin-bottom: 0;
        }

        .updates ul > *:hover {
            background-color: #6b657a;
        }
